<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

    <title>Harmonie des Goûts</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">

    <!-- <link rel="stylesheet" href="/static/css/templatemo-klassy-cafe.css"> -->

    <link rel="stylesheet" href="/static/css/owl-carousel.css">

    <link rel="stylesheet" href="/static/css/lightbox.css">

</head>
<body style="margin: 0; padding: 0;">

    <header class="header-area header-sticky">
        <div class="container info-container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        
                        <a href="index.html" class="logo" style="display: flex; flex-direction: row; color:black;">
                            <img src="/static/img/logo12.png" align="klassy cafe html template" class="logo">
                            <p class="logo-text">Harmonie des Goûts</p>
                        </a>
                        
                        <ul class="nav">
                            <li class="scroll-to-section" style="color:black;"><a href="/" >Home</a></li>
                        </ul>
                        
                    </nav>
                </div>
            </div>
        </div>
    </header>


        <section class="about-info">
        <div class="info">
            <div class="photo_name">
                <img src="/static/img/France.jpeg" alt="">
                <span>Name Surname</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolorem magni impedit nobis ullam laudantium quas ut perspiciatis soluta suscipit consequuntur fugiat quisquam voluptatibus, obcaecati error cupiditate rerum eaque veniam.</p>
        </div>
        </section>

    <style>
        
        .info-container {
            height: 100px !important;
        
        }
        

        .about-info{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .info{
            background-color: #C2DFB6;
            display: flex !important;
            flex-direction: row !important;
            max-width: 70vw;
            justify-content: center;
            align-items: center;
        }
        .photo_name{
            display: flex;
            justify-content: center;
            
        }
    </style>








    <!-- <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                     <div class="logo">
                        <a href="index.html"><img src="/static/img/white-logo.png" alt=""></a>
                    </div> 
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright Harmonie des Goûts.
                        
                        <br>Design: Nikolai IAKIMENKO, Nataliia Tymofieieva</p>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
</body>
</html>